<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="strcon" connectionString="Data Source=DESKTOP-48U32JN\SQLEXPRESS;Initial Catalog=QLSV;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="BTLQLSV.Properties.Settings.QLSVConnectionString"
   connectionString="Data Source=DESKTOP-48U32JN\SQLEXPRESS;Initial Catalog=QLSV;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>